nav {
  div {
    width: 100%;
    margin: 2em auto;
    border: 1px solid;
    text-align: center;
    padding: 1em;
    @include breakpoint (phablet) {
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
      border: none;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    @include breakpoint (phablet) {
      text-decoration: underline;
      text-transform: inherit;
    }
  }

  a:hover {}
}
